body {
	padding-top: 50px;    /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
	color: #959595;
	}
	
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	color: #dd845a;
	}
	
.feature {
	background: url('../../src/assets/images/burger.jpg');
	background-position:center;
	background-size:cover;
	background-color: #dd845a;
	color: white;
	text-shadow: 1px 1px 8px black;
	}

  #local, #explore, #transform {
    background-position:center;
    background-size:cover;
    background-color:gray;
    color: white;
    text-shadow: 1px 1px 8px black;
  }
	
.promo, .footer-map {
	border-width: 1px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	margin-top: 10px;
	margin-bottom: 0;
	}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 1px 1px 8px black;
    text-decoration: none;
}

.promo-item {
    height: 250px;
    line-height: 250px;
    text-align: center;
}

.promo-item:hover {
    background-size: 140%; 
    border: 5px solid black;
    line-height: 170px;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
	background: url('../../src/assets/images/radish.jpeg');
  background-size: cover;
	}
	
.item-2 {
	background: url('../../src/assets/images/heart.jpg');
  background-size: 40%;
	}
	
.item-3 {
	background: url('../../src/assets/images/scallop.jpg');
  background-size: 30%;
	} 

.item-4 {
    background: url('../../src/assets/images/cake.jpg');
    background-size: 40%;
    background-position: top;
    background-size: cover;
    } 

.item-5 {
    background: url('../../src/assets/images/nigiri.jpeg');
    background-size: 40%;
    } 
.item-6 {
      background: url('../../src/assets/images/wing.jpeg');
      background-size: 60%;
      } 
.item-7 {
        background: url('../../src/assets/images/quail.jpg');
        background-size: cover;
        background-position: bottom;
       
        } 


		
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6
{
	background-size:cover;
	background-position:center;
	}

.footer-info {
    padding: 10px 0;
    background: #f7f7f7;
    position:sticky;
    width: 100%;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: #959595;
	}

.footer-info h3 {
	color: black;
	font-size: 18px;
	}
    
.footer-info-item {
    padding: 0px;
    }
    
footer .small-print {
	background-color: #fff;
	padding: 10px;
	text-align: center;
}


/*
*************************** 
Override Bootstrap classNamees 
***************************
*/

/* Links */
a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}
a:hover,
a:focus {
  color: darkorange;
  text-decoration: underline;
}

/* Navbar */
.navbar-default {
  background-color: #fff;
  display: block;
}
.navbar-default .navbar-brand {
  color: #dd845a;
  text-align: center;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: sienna;
  background-color: transparent;
}

/* Primary Buttons */
.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: orange;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: sandybrown;
  border-color: sandybrown;
}